/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.username.ng-valid {
  background-color: lightgreen;
}
.username.ng-dirty.ng-invalid-required {
  background-color: red;
}
.username.ng-dirty.ng-invalid-minlength {
  background-color: yellow;
}

.email.ng-valid {
  background-color: lightgreen;
}
.email.ng-dirty.ng-invalid-required {
  background-color: red;
}
.email.ng-dirty.ng-invalid-email {
  background-color: yellow;
}