<div>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Stacja pogody wykresy
		</h1>
	</section>

	<!-- Main content -->
	<section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                    <div class="col-sm-9">
                        <button type="button" class="btn btn-primary" ng-click="ctrl.load('wind','Wiatr')">Wiatr</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.load('pressure','Ciśnienie')">Ciśnienie</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.load('tempExt','Temperatura')">Temperatura</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.load('humidity','Wilgotność')">Wilgotność</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.load('tempBat','Temperatura baterii')">Temperatura baterii</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.load('batVol','Napięcie baterii')">Napięcie baterii</button>
                    </div>
                    <div class="col-sm-1" style="line-height:30px">
                        <label for="size">Probes</label>
                    </div>
                    <div class="col-sm-2">
                        <input ng-model="size" type="number" min="0" step="1000" id="size" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> {{title}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div  style="height: 500px">
                                <am-chart id="weatherChart" options="ctrl.amChartOptions" height="100%" width="100%"></am-chart>
                            </div>
                        </div>
                    </div>
                </div>
		</div>
	</div>
	</section>
</div>
<!-- /.content -->
